

body {
  font-family: Arial, sans-serif;
  background-color: 

}

h1 {
  font-size: 38px;
}

h2 {
  font-size: 32px
}

ul li a {


}

.ingredient-list {

  list-style: square inside;
}

ol {

  list-style: square inside;
}

img < header {
  width: 100px
}
